.__contenedor {
    width: 100%;
    height: 70px;
    background: #dc9cc4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.__logo {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: relative;
    top: 10px;
    left: 20px;
}

.__tituloStaPera {
    width: 62px;
    height: 32px;
    position: relative;
    top: 5px;
    left: 30px;
}

.__titulos {
    margin-top: 40px;
    margin-right: 18px;
}

.__boton {
    padding: 5px;
    margin: 0 5px 0 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.__boton:hover {
    background-color: #fba363;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 930px) {

}